<h1 align="center" class="col p-3 mb-2 bg-light text-dark">Edit Message</h1>

<%= form_with(model: [ @discussion_thread.project, @discussion_thread, @message ], local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% form.label :content %>
    <%= form.text_area :content, class:"form-control" %>
  </div>

  <div class="actions" align="right">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %><br/>

<%= link_to 'Back to Thread', project_discussion_thread_path(@discussion_thread.project, @discussion_thread), class:"btn btn-secondary" %>
